:root{
  --text: white;
  --effects: rgba(12, 228, 203, 0.527);
  --p : aqua;
  --background : #252627;
  --border: black;
}
body{
  /* background-image: url(../img/background.png);
  background-repeat: no-repeat; */
  background: linear-gradient(to right, rgba(77, 77, 77, 0.951) ,
   rgba(12, 228, 203, 0.996) );
}
@media screen and (max-width : 799px) {
  body{
      background-size: none;
  }
  input{
      height: 2rem;
  }
  button{
      font-size: 18px;
      padding: 8px;
  }
  form{
      margin: 8px;
  }
  label{
      font-size: 14px;
      font-weight: 600;
  }
  .getters{
    width: 100%;
  }
}
@media screen and (min-width : 800px) {
  body{
      background-size: cover;
  }
  input{
      height: 2.4rem;
  }
  button{
      font-size: 18px;
      padding: 10px;
  }
  form{
      margin: 20px;
  }
  label{
      font-size: 20px;
  }
  .getters{
    width: 50%;
  }
}
header{
  display: flex;
  align-items: center;
  flex-direction: column;
}  
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  font-size: 40px;
  width: 50%;
  color: white;
  text-align: center; 
}
form{
  width: 50%;
  backdrop-filter: blur(40x); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  gap: 30px;
  border: solid 4px var(--border);
  border-radius: 4%;
}

.getters{
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

label{
  width: 100%;
  color: white;
}
input{
  outline: none;
  width: 100%;
  border: solid 3px var(--border);
  padding: 10px;
  border-radius: 20px;
  transition: 300ms ease-in-out;
}
input::placeholder{
  padding: 2px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.685);
}
input:hover{
  background-color: var(--effects);
}
input:hover::placeholder{
  color: var(--text);
}
.submisse{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  align-content: center;
}
.submisse label{
  display: flex;
  gap: 8px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.submisse input{
  width: 20px;
}
.submisse button:disabled{
  cursor: no-drop;
  opacity: 0.1;
}
button{
  color: var(--text);
  width: 100%;
  border: solid 4px var(--border);
  cursor: pointer;
  background-color: var(--background);
  transition: 200ms ease-in-out;
}
button:enabled:hover{
  background-color: var(--effects);
  color: var(--text);
}
.createAccount{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: 8px;
  padding: 8px;
  background-color: #252627;
  border-radius: 40px;
}
.createAccount p{
  font-size: 18px;
  color: aqua;
}
.createAccount a{
  transition: 200ms ease-in-out;
  text-decoration: none;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;

}
.createAccount a:hover{

}
