:root{
  --text: black;
  --white : white;
  --effects: rgb(83, 15, 122);
  --p : rgb(255, 0, 0);
  --background : rgb(0, 85, 243);
  --border: rgb(174, 0, 255);
}
body{
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
}
@media screen and (max-width : 799px) {
  body{
      background-size: none;
  }
  input{
      height: 2rem;
  }
  button{
      font-size: 18px;
      padding: 8px;
  }
  form{
      margin: 8px;
  }
  label{
      font-size: 14px;
      font-weight: 600;
  }
  .getters{
    width: 100%;
  }
}
@media screen and (min-width : 800px) {
  body{
      background-size: cover;
      background-color: rebeccapurple;
  }
  input{
      height: 2.4rem;
  }
  button{
      font-size: 18px;
      padding: 10px;
  }
  form{
      margin: 20px;
  }
  label{
      font-size: 20px;
  }
  .getters{
    width: 50%;
  }
}
header{
  display: flex;
  align-items: center;
  flex-direction: column;
}  
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  font-size: 40px;
  width: 50%;
  text-align: center; 
}
form{
  width: 50%;
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  gap: 30px;
  border: solid 2px var(--border);
  border-radius: 4%;
}

.getters{
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

label{
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}
input{
  outline: none;
  width: 100%;
  border: solid 3px var(--effects);
  padding: 10px;
  border-radius: 20px;
  transition: 300ms ease-in-out;
}
input::placeholder{
  padding: 1px;
  font-style: oblique;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.685);
}
input:hover{
  background-color: var(--effects);
}
input:hover::placeholder{
  color: var(--white);
}
.submisse{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  align-content: center;
}
.submisse label{
  display: flex;
  gap: 8px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.submisse input{
  width: 20px;
}
.submisse button:disabled{
  cursor: no-drop;
  opacity: 0.1;
}
button{
  color: var(--textButton);
  width: 100%;
  cursor: pointer;
  background-color: var(--link);
  border: groove 2px var(--black);
  transition: 200ms ease-in-out;
}
button:enabled:hover{
  background-color: var(--textButton);
  color: var(--link);
}
.createAccount{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}
.createAccount a{
  border: solid 2px rgba(255, 255, 255, 0);
  transition: 200ms ease-in-out;
  text-decoration: none;
  border-radius: 50px;
  padding: 8px;
}
.createAccount a:hover{
   border: solid 2px var(--link);
}
