*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root{
  --text: white;
  --effects: rgba(12, 228, 203, 0.527);
  --background : #252627;
  --border: black;
}

body{
  background: linear-gradient(to right, rgb(0, 0, 0) ,
   rgb(12, 228, 203));
}

button{
  color: var(--text);
  width: 100%;
  border: solid 4px var(--border);
  cursor: pointer;
  background-color: var(--background);
  transition: 200ms ease-in-out;
}

h1,h2,h3,h4,p,li{
  color: var(--text);
}
a{
  color: var(--link);
}
