:root{
  --text: white;
  --effects: rgba(10, 244, 217, 0.727);
  --background : #252627;
  --border: black;
}

@media screen and (min-width: 700px){
    .menu{
      background-color: var(--border);
    }
}

@media screen and (max-width: 699px){
  .menu{
    background-color: var(--effects);
  }
  #profilePagePc{
    display: none;
  }
  .buttonMobile{
    display: none;
  }
}

#profilePagePc{
  margin-left: left;
}
.menu{
  padding: 18px;
  width: 100%;
  border-bottom: solid 4px var(--border);
}

.menu ul{
  cursor: pointer;
  gap: 38px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
  
}


.menu button{
  margin-left: auto;
}

.buttonMobile{
  width: 42px;
  height: 42px;
  border: 2px solid white;
  border-radius: 18px;
  padding: 2px;
}

a{
  padding: 4px;
  font-size: 18px;
  color: var(--text);
  border: 2px solid var(--border);
  transition: 0.3s ease-in-out;
}

a:hover{
 border-bottom: 2px solid var(--effects);
}
