:root{
  --text: white;
  --effects: rgba(10, 244, 217, 0.727);
  --background : #252627;
  --border: black;
}

@media screen and (min-width: 700px){
    .menu{
      background-color: var(--border);
    }
}

@media screen and (max-width: 699px){
  .menu{
    background-color: var(--effects);
  }
  #profilePagePc{
    display: none;
  }
  .buttonMobile{
    display: none;
  }
}

.menu{
  padding: 18px;
  width: 100%;
  border-bottom: solid 4px var(--border);
}

.menu ul{
  cursor: pointer;
  gap: 38px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.menu li{
  display: inline-block;
  margin: 0 10px;
  
}

.menu li:last-child{
  margin-left: auto;
}

.menu button{
  margin-left: auto;
}

.buttonMobile{
  width: 42px;
  height: 42px;
  border: 2px solid white;
  background-color: var(--background);
  border-radius: 18px;
}

.buttonMobile a{
  font-size: 18px;
  font-weight: 900;
}

button{
  background-color: transparent;
  border: none;
}

a{
  padding: 4px;
  font-size: 18px;
  color: var(--text);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a:hover{
 border-bottom: 2px solid var(--effects);
}
