
:root{
  --text: white;
  --effects: rgba(12, 228, 203, 0.527);
  --background : #252627;
  --border: black;
}
@media screen and (max-width : 719px) {
    .hello{
      font-size: 10px;
    }

    .timer{
      transform: scale(1.2)
    }

    .hoursDiv span{
      font-size: 14px;
    }

    .hello img{
      height: 40px;
      width: 40px;
    }

    .sectionTwo .text{
      text-align: start;
      width: 80%;
      line-height: 18px;
    }
    .main-sectionCalendar{
      flex-direction: column;
      gap: 12px;
    }
    .eventForm{
      width: 80%;
    }

    .main-content{
      font-size: 12px;
    }
}

@media  screen and (min-width : 720px) {
  .hello{
    font-size: 14px;
  }

  .hoursDiv span{
    font-size: 14px;
  }

  .hello img{
    height: 54px;
    width: 54px;
  }

  .section span{
    width: 1%;
  }

  .sectionTwo .text{
    text-align: center;
    width: 50%;
  }

  .main-content{
    font-size: 14px;
  }

  .main-sectionCalendar{
    flex-direction: row;
    gap: 20px;
  }

  .eventForm{
    width: 40%;
  }
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hello{
  user-select: none;
  background-color: var(--background);
  border-bottom: 2px solid var(--border);
  padding: 8px;
  gap: 20px;
  color: var(--text);
}

.hello img{
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hello img:hover{
  border: 2px solid var(--effects);
  border-radius: 70px;
}

.hoursDiv{
  background-color: var(--effects);
  border-radius: 12px;
  padding: 8px;
  gap: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-list{
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.dropdown-list-content{
  position: absolute;
  right: 0px;
  top: 52px;
  z-index: 1;
  display: none;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  max-width: 168px;
  height: 180px;
  border: 4px solid;
  border-color: var(--text);
  border-radius: 18px;
  justify-content: space-evenly;
}


.dropdown-list-content a{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  padding: 4px;
  width: 100%;
}

.dropdown-list-content span{
  width: 100%;
  height: 4px;
  background-color: var(--text);
}

.dropdown-list-content button{
  background-color: transparent;
  outline: none;
  border: none;
}

.section{
  display: flex;
  width: 100%;
  padding:  20px 20px 12px 20px;
  gap: 28px;
}

.main-content{
  width: 100%;
  text-align: start;
  font-weight: bold;
}

.section span{
  background-color: var(--background);
  border-radius: 40px;
}

.text-top p{
  padding: 12px;
  text-align: justify;
  border-radius: 20px;
  background-color: var(--background);
}

.text-top h2{
  margin: 8px;
}

.sectionTwo div:nth-child(1){
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionTwo h3{
  border-top: 2px solid var(--background);
  width: 50%;
  color: var(--border);
  padding-top: 4px;
  align-content: center;
  text-align: center;
}

.sectionTwo .text{
  line-height: 18px;
  padding: 8px;
  border-bottom: var(--background) 2px solid;
}

.text p{
  padding: 8px;
  color: var(--border);
  text-align: center;
  border-radius: 20px;
}

table{
  margin: 14px auto;
  border-collapse: collapse;
  background-color: transparent;
  width: 50%;
}

th{
  color: var(--text);
}

td{
  color: var(--text);
}

th, td {
  border: 2px solid var(--text);
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--effects);
}

.main-sectionCalendar{
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.listCalendar{
  background-color: var(--background);
  padding: 20px;
  font-size: 14px;
  border-radius: 14px;
}

.listCalendar p{
  padding: 4px;
  border-bottom: 2px var(--effects) solid;
}
.listCalendar ul{
  padding: 4px;
  color: var(--text);
}
.listCalendar li{
  margin-left: 12px;
}
.listCalendar i{
  margin-left: 14px;
}
.calendar-content{
  background-color: var(--background);
  padding: 4px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 12px;
}

.button-menu{
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.button-menu span{
  color: var(--text);
  padding-top: 2px;
  border-top: 2px var(--effects) solid;
}
.button-menu button{
  background-color: transparent;
  border: none;
  width: 40px;
  height: 20px;
  font-weight: bolder;
  border-radius: 40px;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.button-menu button:hover{
  background-color: rgba(255, 255, 255, 0.558);
  color: black;
}

.week{
  background-color: var(--background);
}

.days{
  cursor: pointer; 
  transition: 0.4s ease-in-out;
}

.days:hover{
  background-color: var(--text);
  color: black;
}

.yesterDays , .nextMonth{
  color: rgba(255, 255, 255, 0.46);
  user-select: none;
  transition: 0.4s ease-in-out;
}

.yesterDays:hover , .nextMonth:hover{
  color: white;
  background-color: black;
}

.eventDiv{
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: auto;
  gap: 4px;
   margin: 30px auto;
}

.eventDivInfo{
  margin: 12px;
  gap: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  border-bottom: 2px solid var(--effects);
}

.eventForm{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: var(--text) 2px solid;
  padding: 14px;
  align-items: center;
  background-color: var(--background);
}

.eventInputs{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.eventInputs input{
  border: 2px solid var(--text);
  padding: 8px;
  background-color: var(--effects);
  border-radius: 10px;
  outline: none;
  color: var(--text);
}

.eventInputs input::placeholder{
 padding: 4px;
 font-size: 12px;
 color: rgba(0, 0, 0, 0.644);
}
