
:root{
  --text: white;
  --effects: rgba(12, 228, 203, 0.527);
  --background : #252627;
  --border: black;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hello{
  user-select: none;
  background-color: black;
  border-bottom: 2px solid var(--border);
  padding: 8px;
  gap: 20px;
  font-size: 14px;
  color: var(--text);
}

.hello img{
  cursor: pointer;
  height: 68px;
  width: 68px;
  border: 2px solid transparent;
  transition: 0.2s ease-in-out;
}

.hello img:hover{
  border: 2px solid var(--effects);
  border-radius: 70px;
}

.dropdown-list{
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.dropdown-list-content{
  position: absolute;
  right: 0px;
  z-index: 1;
  display: none;
  flex-direction: column;
  background-color: white;
  max-width: 168px;
  height: 180px;
  border: 4px solid;
  border-color: black;
  border-radius: 18px;
  justify-content: space-evenly;
}

.hoursDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hoursDiv span{
  font-size: 18px;
}
.dropdown-list-content a{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 8px;
  width: 100%;
}

.dropdown-list-content span{
  width: 100%;
  height: 4px;
  background-color: black;
}

.dropdown-list-content button{
  background-color: transparent;
  outline: none;
  border: none;
}

.section{
  display: flex;
  width: 100%;
  padding:  80px 80px 0px 80px;
  gap: 8px;
}

.section span{
  background-color: var(--background);
  width: 8%;
  border-radius: 80px;
}

.main-contentTwo div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-contentTwo h3{
  margin-top: 14px;
  border-top: 2px solid var(--background);
  width: 80%;
  align-content: center;
  text-align: center;
}